.cart-badge {
    /* Remplacer le style existant avec celui-ci pour enlever le rouge */
    background-color: #2B6ED4; /* Couleur violette comme suggéré par la classe custom-violet-badge */
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    position: absolute;
    top: -5px;
    right: -5px;
    font-weight: bold;
}

/* Assurez-vous que cette classe a priorité */
.cart-badge.custom-violet-badge {
    background-color: #2B6ED4 !important; /* Utiliser !important pour garantir la priorité */
}